.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.title {
display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title button{
  width: 30px;
  height: 30px;
  padding: 0;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: #7fffe1;
}

.is-done {
  opacity: 0.5;
}